@{
    ViewBag.Title = "Access Denied";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        You don't have access to this section. Speak to an administrator if you need access to this section. 
    </p>
</div>