@model IEnumerable<BugTracker.Models.RoleViewModel>
@using BugTracker.Helpers
@{
    ViewBag.Title = "Index";
}
<script src="~/Dependencies/jQuery/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="~/Dependencies/dataTables/DataTables-1.10.12.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function() {
        $('#tblRoles').DataTable();
    });
</script>
<h2>Index</h2>

<table id="tblRoles" class="table stripe row-border compact">
    <thead>
        <tr>
            <th>
                Role
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            var linkText = "View All " + item.Name + "s (" + UserRolesHelper.UsersInRole(item.Name).Count.ToString() + ")";
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name) <a href="@Url.Action("SingleRoleIndex", ControllerName.ROLES, new { roleName = item.Name })">@linkText</a>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { applicationIdentityRoleId = item.Id })
                </td>
            </tr>
        }
    </tbody>

</table>
