@model IEnumerable<BugTracker.Models.RoleViewModel>
@using BugTracker.Helpers
@{
    ViewBag.Title = "Roles";
}
<script src="~/Dependencies/jQuery/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="~/Dependencies/dataTables/DataTables-1.10.12.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function() {
        $('#tblRoles').DataTable();
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<div class="well bs-component" style="padding-top:0px;">
    <h2>Roles</h2>
    <table id="tblRoles" class="table stripe row-border compact">
        <thead>
            <tr>
                <th>
                    Role
                </th>
                <th>
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var linkText = "View All " + item.Name + "s (" + UserRolesHelper.UsersInRole(item.Name).Count.ToString() + ")";
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name) <a href="@Url.Action("SingleRoleIndex", ControllerName.ROLES, new { roleName = item.Name })">@linkText</a>
                    </td>
                    <td>
                        <a href="@Url.Action(ActionName.EDIT, ControllerName.ROLES, new { applicationIdentityRoleId = item.Id })" data-toggle="tooltip" data-placement="top" title="Edit role"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>