@model IEnumerable<BugTracker.Models.ApplicationIdentityRolesViewModel>
@using BugTracker.Helpers
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            Role
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    var linkText = "View All " + item.ApplicationIdentityRoleName + "s (" + UserRolesHelper.UsersInRole(item.ApplicationIdentityRoleName).Count.ToString() + ")";
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationIdentityRoleName) <a href="@Url.Action("SingleRoleIndex", ControllerName.APPLICATION_IDENTITY_ROLES, new { roleName = item.ApplicationIdentityRoleName })">@linkText</a>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { applicationIdentityRoleId = item.ApplicationIdentityRoleId })
        </td>
    </tr>
}

</table>
