@model BugTracker.Models.ChangeProfileInfoViewModel
@{
    ViewBag.Title = "Change Profile Info";
}
<div class="row">
    <div class="col-md-12">
        <div class="col-md-3"></div>
        <div class="well bs-component col-md-6">
            @using (Html.BeginForm(ActionName.CHANGE_PROFILE_INFO, ControllerName.MANAGE, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <fieldset>
                    <legend>Change Profile Info</legend>
                    <h4>If a field is left blank, no changes will be made to that field.</h4>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-12">
                            <input name="NewFirstName" type="text" class="form-control" placeholder="New First Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input name="NewLastName" type="password" class="form-control" placeholder="New Last Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input name="NewDisplayName" type="password" class="form-control" placeholder="New Display Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 modal-footer well-footer">
                            <input type="submit" value="Save" class="btn btn-success" />
                            <a href="@Url.Action(ActionName.INDEX, ControllerName.MANAGE)" class="btn btn-primary">Cancel</a>
                        </div>
                    </div>
                </fieldset>
            }
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
