@model BugTracker.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<div class="row">
    <div class="col-md-12">
        <div class="col-md-3"></div>
        <div class="well bs-component col-md-6">
            @using (Html.BeginForm(ActionName.CHANGE_PASSWORD, ControllerName.MANAGE, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <fieldset>
                    <legend>Change Password</legend>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-12">
                            <input name="OldPassword" type="password" class="form-control" placeholder="Current Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input name="NewPassword" type="password" class="form-control" placeholder="New Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input name="ConfirmPassword" type="password" class="form-control" placeholder="Confirm New Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 modal-footer well-footer">
                            <input type="submit" value="Save" class="btn btn-success" />
                            <a href="@Url.Action(ActionName.INDEX, ControllerName.MANAGE)" class="btn btn-primary">Cancel</a>
                        </div>
                    </div>
                </fieldset>
            }
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}