@model BugTracker.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-3"></div>
        <div class="well bs-component col-md-6">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <fieldset>
                    <legend>Forgot Password</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input name="Email" type="text" class="form-control" id="inputEmail" placeholder="Email">
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </fieldset>
            }
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
        </div>
        <div class="col-md-3"></div>
    </div>
</div>